<!DOCTYPE html>
<html>
    <head>
        <title>web-template</title>
        <meta charset="UTF-8">
        <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/common.css" rel="stylesheet">
    </head>
    <body>
        <div id="page-header" th:include="/base/page::header"></div>
        <div id="page-nav">
            <nav class="navbar navbar-dark navbar-expand-lg">
                <div class="collapse navbar-collapse" th:include="/base/navigator::none-active"></div>
            </nav>
        </div>
        <div id="page-content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">Title</div>
                        <div class="card-body">
                            TODO
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="page-footer" th:include="/base/page::footer"></div>
        <script src="/webjars/jquery/jquery.min.js"></script>
        <script src="/webjars/popper.js/umd/popper.min.js"></script>
        <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
        <script src="/js/common.js"></script>
    </body>
</html>